:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --font-size: 14px;
  --letter-spacing: 0.03em;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* header */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}
.header-link {
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.mail,
.tel {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

/* main */
/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
/* section */
.section-subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* gallery */
.gallery-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* team */
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team-job {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}
/* footer */
.footer {
  background-color: #2f303a;
}
.second-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--accent-color);
}
.logo-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #ffffff;
}
.logo-second:hover,
.logo-second:focus {
  color: var(--accent-color);
}
.footer-point {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.footer-pointer:hover,
.footer-pointer:focus {
  color: var(--accent-color);
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* Портфоліо */
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: #f5f4fa;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
